@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(28,41,81);
    background-image: linear-gradient(90deg,#323072 0%,#1c1c57 35%, #020024 100%);
}

.txt-bg{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-violet-500 to-pink-500
}

.card{
    display: grid;
    flex-direction: row;
    grid-template-columns: .1fr .9fr;
    
}